.invisible {
    visibility: hidden;
}

.listas {
    width: 80%;
    max-width: 1165px;
    margin: auto;
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.lista-footer:first-child {
    justify-self: start;
}

.lista-footer:last-child{
    justify-content: end;
}

.pie-pagina {
    color: rgb(255, 255, 255);
    background-color: #2a2a2a;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
    font-weight: 500;
    padding-top: 5px;
}

.footer-image {
    height: auto;
    width: 49px;
    margin-right: 12px;
}

.lista-footer {
    padding: 20px 0;
    align-items: center;
}

#facebook-ig {
    list-style: none;
    display: flex;
    justify-content: center;
    /* margin-top: 60px; */
    gap: 10px;
}

#facebook-ig img {
    transition: transform .3s; /* Definir la transición para todos los estados */
}

#facebook-ig img:hover {
    transform: scale(1.2);
}

.ul-footer li {
    list-style: none;
    list-style-type: none;
    margin-bottom: 10px;
    margin-left: -30px;
}

.ul-footer-image li {
    display: flex;
    align-items: center;
}

.ul-footer-image p {
    margin: 0;
    padding: 0;
}


.footer-link {
    color: white;
    text-decoration: none;
    transition: color 0.4s;
}

.footer-link:hover {
    color: #0195C8;
}

.metodos-pago {
    width: 90%;
    max-width: 1165px;
    margin: auto;
    display: flex;
    align-items: center;
    height: 60px;
    justify-content: space-between;
}


.metodos-pago h3 {
    font-weight: 600;
    font-size: 20px;
    margin: 0;
    padding: 0;
}

.ul-footer-methods > li {
    display: inline;
    margin-left: 5px;
}

.ul-footer-methods {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-left: 10px;
}

.footer-image-payment {
    height: auto;
    width: 50px;
    border-radius: 7px;
}

#ul-footer-methods1 {
    margin-left: 15px;
}

.Copyright {
    padding: 0;
    margin-top: 5px;
}

.Copyright h5 {
    font-size: 12px;
}

#consumidor-link {
    color: #0195C8;
}

#consumidor-link:hover {
    color: #7cdeff;
}

.separador{
    border-top: 1px solid #0195C8;
    height: 1px;
    width: 1370px;
    margin: auto;
}

.span-lista{
    font-size: 16px;
    font-weight: 600;
}














